// section article panel styles
.main{
  padding-top: 3em;
  background-color:#fafafa;
}
section.article-panel{
  padding:2.5em 1em;
  margin:0.5em 0 1.75em 0;
  background-color: $white-bg;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0, .125);
  border-radius: .25em;
  box-shadow: 2px 2px 2px rgba(0,0,0, .125);
}
section.article-panel header>.post-attrib{
  color:$brand-primary;

}

section.article-panel header>h2{
  color: $dark-green;
  margin-bottom: 20px;
}
section.article-panel article{
  position: relative;
  margin-bottom: 1em;
  border-bottom: 1px solid $gr-lightgreen2;
}

section.article-panel footer{

  span{
      margin-left: 7em;
      a{
        padding:0 2em;
      }
  }
}
//the specialists column
div.specialists-panel ul{
  list-style: none;
}
